{% for name,port in [('postgresql',5432),('redis',6379),('rabbitmq',5672)] %}
---
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: {{ name }}-clients
  namespace: {{ services_namespace }}
spec:
  podSelector:
    matchLabels: {app.kubernetes.io/name: {{ name }}}
  policyTypes: [Ingress]
  ingress:
    - from:
        - podSelector:
            matchLabels: {sunmoonai.com/{{ name }}-client: 'true'}
      ports: [{protocol: TCP, port: {{ port }}}]
---
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: {{ name }}-client-egress
  namespace: {{ services_namespace }}
spec:
  podSelector:
    matchLabels: {sunmoonai.com/{{ name }}-client: 'true'}
  policyTypes: [Egress]
  egress:
    - to:
        - podSelector:
            matchLabels: {app.kubernetes.io/name: {{ name }}}
      ports: [{protocol: TCP, port: {{ port }}}]
{% endfor %}
---
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata: {name: casdoor-ingress, namespace: {{ services_namespace }}}
spec:
  podSelector:
    matchLabels: {app.kubernetes.io/name: casdoor}
  policyTypes: [Ingress]
  ingress:
    - from:
        - namespaceSelector:
            matchLabels: {kubernetes.io/metadata.name: {{ ingress_namespace }}}
          podSelector:
            matchLabels: {app.kubernetes.io/name: traefik}
      ports: [{protocol: TCP, port: 8000}]
