apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - calico.yaml
images:
{% for image in calico_archives %}
  - name: {{ image.source.split('@')[0] }}
    newName: {{ image.source.split('@')[0] }}
    digest: {{ image.manifest_digest }}
{% endfor %}
patches:
  - patch: |-
      apiVersion: v1
      kind: ConfigMap
      metadata:
        name: calico-config
        namespace: kube-system
      data:
        calico_backend: vxlan
  - patch: |-
      apiVersion: apps/v1
      kind: DaemonSet
      metadata:
        name: calico-node
        namespace: kube-system
      spec:
        template:
          spec:
            containers:
              - name: calico-node
                env:
                  - name: CLUSTER_TYPE
                    value: k8s
                  - name: IP_AUTODETECTION_METHOD
                    value: interface=eth0
                  - name: CALICO_IPV4POOL_CIDR
                    value: {{ cluster_pod_subnet }}
                  - name: CALICO_IPV4POOL_IPIP
                    value: Never
                  - name: CALICO_IPV4POOL_VXLAN
                    value: Always
                livenessProbe:
                  exec:
                    command: [/bin/calico-node, -felix-live]
                readinessProbe:
                  exec:
                    command: [/bin/calico-node, -felix-ready]
