{{ [elk_collector_namespace,elk_collector_applications,app_namespace,cluster_name,data_namespace,logstash_ingest_port,elk_ingest_username,elk_collector_state_directory,elk_collector_memory_chunks,elk_collector_read_from_head,elk_collector_resources] | to_json }}
