apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources: [official.yaml]
commonAnnotations:
  sunmoonai.com/bootstrap-owner: {{ cluster_name }}
images:
{% for controller in controllers %}
  - name: {{ registry_address }}/platform/{{ controller.id }}
    newName: {{ registry_address }}/platform/{{ controller.id }}
    digest: {{ controller.manifest_digest }}
{% endfor %}
patches:
  - target:
      kind: Namespace
      name: flux-system
    patch: |-
      - op: add
        path: /metadata/labels/pod-security.kubernetes.io~1enforce
        value: restricted
  - target:
      kind: Deployment
      name: kustomize-controller
    patch: |-
      - op: add
        path: /spec/template/spec/containers/0/args/-
        value: --no-remote-bases=true
      - op: add
        path: /spec/template/spec/containers/0/args/-
        value: --no-cross-namespace-refs=true
  - target:
      kind: Deployment
      name: helm-controller
    patch: |-
      - op: add
        path: /spec/template/spec/containers/0/args/-
        value: --no-cross-namespace-refs=true
