apiVersion: v1
kind: Secret
metadata:
  name: elasticsearch-myapp-secret
  namespace: data-platform-dev
type: Opaque
stringData:
  ES_HOST: "elasticsearch-sunmoonai.data-platform-dev.svc.cluster.local"
  ES_PORT: "9200"
  ES_USERNAME: "elastic"
  ES_PASSWORD: "CHANGE_ME"
  ES_TLS: "false"
---
# 下游应用连接信息，不在 Elasticsearch Chart 中引用

